<script lang="ts">
	import '$lib/css/app.css';
	import Navbar from '$lib/components/Navbar.svelte';
	import { themeStore } from '$lib/stores/theme.store';

	$: document.documentElement.dataset.theme = $themeStore;
</script>

<Navbar />
<slot />
