<script lang="ts">
	import Card from '$lib/components/Card.svelte';
</script>

<div class="container mx-auto my-auto py-5 px-5">
	<div class="grid grid-cols-4 gap-4">
		{#each [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] as i}
			<Card />
		{/each}
	</div>
</div>
