<div class="card bg-base-100 shadow-xl">
	<figure><img src="/card.webp" alt="Bridges" /></figure>
	<div class="card-body">
		<h2 class="card-title">Kedang pahu</h2>
		<p>Lorem ipsum dolor sit amet</p>
		<div class="card-actions justify-end">
			<div class="join">
				<button class="btn btn-sm btn-primary join-item">Detail</button>
				<button class="btn btn-sm btn-success join-item">Health: 80%</button>
				<div class="dropdown join-item">
					<label tabindex="0" class="btn btn-sm btn-ghost m-1">
						<svg
							class="fill-current"
							xmlns="http://www.w3.org/2000/svg"
							height="24px"
							viewBox="0 0 24 24"
							width="24px"
							><path
								d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
							/></svg
						>
					</label>
					<ul
						tabindex="0"
						class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 z-10"
					>
						<li><a>Item 1</a></li>
						<li><a>Item 2</a></li>
						<li><a>Item 3</a></li>
						<li><a>Item 4</a></li>
						<li><a>Item 5</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
