<script lang="ts">
	import { loginStore, userStore } from '$lib/stores/auth.store';
	import { themeStore } from '$lib/stores/theme.store';
</script>

<div class="navbar bg-base-100">
	<div class="flex-none">
		<label for="my-drawer-2" class="btn btn-ghost drawer-button lg:hidden">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				class="inline-block w-5 h-5 stroke-current"
				><path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M4 6h16M4 12h16M4 18h16"
				/></svg
			>
		</label>
	</div>
	<div class="flex-1">
		<a class="btn btn-ghost normal-case text-xl" href="/">SHMS</a>
	</div>
	<div class="flex-none gap-2">
		{#if $loginStore}
			<div class="form-control">
				<input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
			</div>
			<div class="dropdown z-20">
				<label tabindex="0" class="btn btn-ghost m-1">
					<svg
						class="fill-current"
						xmlns="http://www.w3.org/2000/svg"
						height="24px"
						viewBox="0 0 24 24"
						width="24px"
						><path
							d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
						/></svg
					>
				</label>
				<ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
					<li><a>Item 1</a></li>
					<li><a>Item 2</a></li>
					<li><a>Item 3</a></li>
					<li><a>Item 4</a></li>
					<li><a>Item 5</a></li>
				</ul>
			</div>
			<div class="dropdown dropdown-end z-20">
				<label tabindex="0" class="btn btn-ghost btn-circle avatar">
					<div class="w-10 rounded-full">
						<img
							src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
							crossorigin="anonymous"
						/>
					</div>
				</label>
				<ul
					tabindex="0"
					class="mt-3 p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52"
				>
					<li>
						<a> Profile </a>
					</li>
					<li>
						<a
							on:click={() => {
								$themeStore = $themeStore === 'light' ? 'dark' : 'light';
							}}
						>
							Switch theme
						</a>
					</li>
					<li>
						<a
							on:click={() => {
								$loginStore = false;
								$userStore = '';
								window.open('/login', '_self');
							}}>Logout</a
						>
					</li>
				</ul>
			</div>
		{:else}
			<a href="/login" class="btn btn-ghost">Login</a>
		{/if}
	</div>
</div>
