<script lang="ts">
	import { loginStore } from '$lib/stores/auth.store';
	import { onMount } from 'svelte';

	let menuEntries = [
		{ name: 'Page', link: '/dash', active: true },
		{ name: 'Manage Users', link: '/users', active: false },
		{ name: 'Manage Sensors', link: '/sensors', active: false },
		{ name: 'System', link: '/system', active: false }
	];

	function updateMenu(evt: MouseEvent) {
		menuEntries = menuEntries.map((entry) => {
			entry.active = entry.name === (evt.target as HTMLAnchorElement).innerText;
			return entry;
		});
	}

	onMount(() => {
		if (!$loginStore) window.open('/login', '_self');
	});
</script>

<div class="drawer lg:drawer-open">
	<input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
	<div class="drawer-content flex flex-col items-center justify-center">
		<slot />
	</div>
	<div class="drawer-side">
		<label for="my-drawer-2" class="drawer-overlay" />
		<ul class="menu p-4 w-80 h-full bg-base-200 text-base-content">
			<!-- Sidebar content here -->
			{#each menuEntries as entry}
				<li>
					<a href={entry.link} class:active={entry.active} on:click={updateMenu}>{entry.name}</a>
				</li>
			{/each}
		</ul>
	</div>
</div>
