<script lang="ts">
	import { loginStore, userStore } from '$lib/stores/auth.store';

	let username: string | undefined;
	let password: string | undefined;
	let isValid = false;

	$: validate(username, password);

	function validate(user: string | undefined, pass: string | undefined) {
		isValid = user !== undefined && pass !== undefined && user !== '' && pass !== '';
	}

	function login(): void {
		if (!isValid) return;
		$loginStore = true;
		$userStore = username as string;
		window.open('/dash', '_self');
	}
</script>

<div class="bg-no-repeat bg-cover bg-center relative" style="background-image: url(/back.webp);">
	<div class="absolute bg-gradient-to-b from-red-400 to-orange-400 opacity-75 inset-0 z-0" />
	<div class="min-h-screen sm:flex sm:flex-row mx-0 justify-center">
		<div class="flex-col flex self-center p-10 sm:max-w-5xl xl:max-w-2xl z-10">
			<div class="self-start hidden lg:flex flex-col text-white">
				<h3 class="mb-3 font-bold text-2xl">Welcome back!</h3>
				<h1 class="mb-3 font-bold text-5xl">Log in to your account</h1>
			</div>
		</div>
		<div class="flex justify-center self-center z-10">
			<div class="p-12 glass mx-auto rounded-2xl w-100">
				<div class="mb-4">
					<h3 class="font-semibold text-2xl text-gray-800">Log In</h3>
					<p class="text-gray-800">Please sign in with your account to continue</p>
				</div>
				<div class="space-y-5">
					<div class="space-y-2">
						<label class="text-sm font-medium text-gray-700 tracking-wide">Username</label>
						<input
							class=" w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-orange-400"
							type="text"
							placeholder="Enter your username"
							bind:value={username}
						/>
					</div>
					<div class="space-y-2">
						<label class="mb-5 text-sm font-medium text-gray-700 tracking-wide"> Password </label>
						<input
							class="w-full content-center text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-orange-400"
							type="password"
							placeholder="Enter your password"
							bind:value={password}
						/>
					</div>
					<div class="flex items-center justify-between">
						<div class="flex items-center">
							<input
								id="remember_me"
								name="remember_me"
								type="checkbox"
								class="h-4 w-4 bg-blue-500 focus:ring-blue-400 border-gray-300 rounded"
							/>
							<label for="remember_me" class="ml-2 block text-sm text-gray-800">
								Remember me
							</label>
						</div>
						<div class="text-sm">
							<a href={undefined} class="text-black"> Forgot your password? </a>
						</div>
					</div>
					<div>
						<button
							type="submit"
							class="btn btn-full w-full flex justify-center"
							class:btn-disabled={!isValid}
							class:btn-primary={isValid}
							on:click={login}
						>
							Log in
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
